## IBM CAPSTONE PROJECT - Segmenting and Clustering Neighborhoods - WEEK III/Part-I

In [15]:
#Importing the relevant libraries

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [16]:
# Scrapping the data via BS4
request_data=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(request_data,'html.parser')
#print(soup.prettify())

In [17]:
#Scrapping the table from the raw data
my_table=soup.find('table')

In [18]:
df = pd.read_html(str(my_table))[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [19]:
#Ignoring the cells where Borough is 'Not assigned'.
df = df[df.Borough != 'Not assigned']

In [20]:
# Combining the neighbourhoods with same Postalcode
dfII = df.groupby(['Postcode','Borough'], sort=False).agg(', '.join)
dfII.reset_index(inplace=True)

In [21]:
# Replacing the name of the neighbourhoods which are 'Not assigned'.
dfII['Neighbourhood'] = np.where(dfII['Neighbourhood'] == 'Not assigned',dfII['Borough'], dfII['Neighbourhood'])

In [22]:
dfII

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Downtown Toronto,Queen's Park
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [25]:
dfII.shape

(103, 3)

In [26]:
#Saving the data for using it in the other parts
dfII.to_csv('Capstone_part1.csv')
print('Saved')

Saved